html {
    min-height: 100vh;
    font-family: Verdana;
    font-size: 18px;
}

body {
    background-color: #112434;
    background-image: url("/res/img/wallpaper.png");
    background-repeat: repeat;
    background-size: cover;
    padding: 0;
    margin: 5px;
    color: white;
}


.contentDivs {
    padding: 5px;
    margin: 5px;
    background-color: #112434 ;
    box-shadow: 10px 10px black;
}

a {
    text-decoration: underline;
    color: white;
    font-weight: bold;
}

td, th {
    vertical-align: top;
    margin: 5px;
}

table {
    width: 100%;
}

#center {
    width: 75%;
}

#navigation {
    width: auto;
}

#content {
    display: block;
    padding: 5px;
    width: 75%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.sections {
    margin: 5px;
    padding: 10px;
    border: 4px solid #1e4668;

}

.topGifs {
    display: inline;
}

#topGifsRight {
    float: right
}

.animatedSquares {
    margin: 5px;
    width: 100px;
    height: 50px;
}

@keyframes funButton {
   14% { color: red; }
   28% { color: orange; }
   42% { color: yellow; }
   56% { color: green; }
   70% { color: blue; }
   84% { color: purple }
   98% { color: rebeccapurple; }
}

@keyframes separator {
    50% { border-color: #16334b; }
    100% { border-color: #1e4668; }
}

.funButtons {
    animation-name: funButton;
    animation-iteration-count: infinite;
    animation-duration: 7s;
    animation-direction: alternate;

}

.separator {
   animation-name: separator;
   animation-iteration-count: infinite;
   animation-duration: 2s;
   margin: 5px;
   border: 2px solid;
}

#sepB {
    animation-delay: 1s;
}

.sourceCodesImg {
    padding-left: 5px;
    width: 16px;
    height: auto;
}

.contactsImg {
    padding: 5px;
    width: 32px;
    height: auto;
}

h4 {
    font-weight: bold;
}
#navList, .navList, .navLink {
    text-decoration: underline;
    color: white;
    font-weight: bold;
}

.navLink:hover {
    color: #1e4668;
}

a {
    text-decoration: none;
}

.projectsTable {
    width: fit-content;

}

.sourceCodes {
    color: white;
}

.navTable {
    width: 25%;
}

.art_img {
    width: 100%;
    margin-bottom: 10px;
}